body {
    font-family: sans-serif;
    background-color: #101314e5;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40;
    color: white;
}
h2 {
    color: #00b7ff;
}
p {
    
    color: white;
    font-size: 15;
}

a{
    color: #00b7ff;
}

h3{
    color:#00b7ff
    
}
